// .cov-calcite-print {}

.cov-calcite-print--results {
  margin-top: 0.75rem;
  cursor: default;
}

.cov-calcite-print--result {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 14px;

  &:last-child {
    margin-bottom: 0;
  }
  
  span {
    padding-left: 0.75rem;
  }
}

.cov-calcite-print--result-icon {
  margin-right: 0.5rem;
}
